.home-intro {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/jpgs/8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
